body {
    background-image: url(../images/crystalBG.jpg) ;
    width: 100%;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: white;
    opacity: 40%;
}

span {
    color: magenta;
    font-weight: 700;
}


#rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, orange, yellow, red);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

 .jumbotron {
     width:80%;
    margin-top: 5%;
    margin-left: 5%!important;
    margin-right: 5%!important;
    overflow: auto;
    opacity: 89%;
    border-style: ridge;
}

#rules {
    font-family: 'Long Cang', cursive;
    font-size: 30px;
    font-weight: 300;
}

#random-number {
    font-family: 'Turret Road', cursive;
    font-weight: 800;
}

#wins {
    font-family: 'Turret Road', cursive;
    color: blue;
    font-size: 20px;
}

#losses {
    font-family: 'Turret Road', cursive;
    color: red;
    font-size: 20px;
}

#user-score {
    font-family: 'Long Cang', cursive;
    color: green;
    font-size: 30px;
}

